.person {
  cursor: pointer;
  transition: 0.3s;
}

.person:hover {
  background-color: #f5f5f5;
}

.person-focus {
  background-color: #f2f2f2;
}

.person-focus:hover {
  background-color: #f1f1f1;
}

.person p {
  color: gray;
}

.message-left,
.message-right {
  display: flex;
}

.message-right {
  flex-direction: row-reverse;
}

.message-left p {
  background-color: #ecebec;
  border-radius: 10px;
  color: black;
}

.message-left .msg-container {
  position: relative;
  transform-origin: 0 100%;
}

.message-left .msg-container::before {
  content: "";
  position: absolute;
  left: -18px;
  bottom: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #ecebec;
  border-bottom: 10px solid #ecebec;
}

.message-left img {
  margin-right: auto;
  margin-left: 0;
  transform-origin: 0 100%;
  max-width: 60%;
}

.message-right .message-content {
  color: white;
  background-color: #0099ff;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.message-right .msg-container {
  margin-right: 0;
  transform-origin: 100% 100%;
  position: relative;
}

.message-right .msg-container::before {
  content: "";
  position: absolute;
  right: -18px;
  bottom: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid #0099ff;
  border-bottom: 10px solid #0099ff;
}

.message-right img {
  margin-right: 0;
  transform-origin: 100% 100%;
  max-width: 60%;
}

#left-panel {
  width: 300px;
}

#right-panel i {
  font-size: 20px;
  color: #0099ff;
}

.has-new-message {
  position: relative;
}

.has-new-message::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #0099ff;
  right: 15px;
  top: 28px;
}

.message-option-container {
  display: none;
  align-items: center;
  gap: 8px;
  margin: 0 8px 1rem 8px;
}

.message-option-container i {
  font-size: 18px !important;
  cursor: pointer;
  color: #b9bbbd !important;
  transition: color 0.3s;
}

.message-option-container .fa-copy:hover {
  color: #8a8d91 !important;
}

.message-option-container .fa-trash-alt:hover {
  color: rgb(255, 67, 67) !important;
}

.message-left:hover .message-option-container {
  display: flex;
}

.message-right:hover .message-option-container {
  display: flex;
}

.removed .message-content {
  color: #b1b1b1;
  background: white;
  border: 2px solid #ecebec;
}

.removed .msg-container::before {
  content: none !important;
}

.removed:hover .message-option-container {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .message-left img {
    max-width: 100%;
  }

  .message-right img {
    max-width: 100%;
  }

  #left-panel {
    width: 90px;
  }

  .has-new-message::before {
    top: 15px;
  }
}
