.navbar-link {
  position: relative;
}

.navbar-link::before {
  content: "";
  position: absolute;
  top: 100%;
  right: 50%;
  width: 0;
  height: 3px;
  background-color: black;
  transition: 0.3s;
}

.navbar-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: black;
  transition: 0.3s;
}

.navbar-link:hover::before {
  width: 50%;
}

.navbar-link:hover::after {
  width: 50%;
}

.fade-left {
  opacity: 0;
  transform: translateX(-100px);
  transition: 1s;
}

.fade-right {
  opacity: 0;
  transform: translateX(100px);
  transition: 1s;
}

.fade-focus {
  opacity: 1;
  transform: translateX(0);
}

.landing-page {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: center;
}

@media only screen and (max-width: 768px) {
  .landing-page {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: none;
  }
  
  .section {
    height: auto;
    scroll-snap-align: none;
  }
}