::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #bcc0c4;
}

::-webkit-scrollbar-thumb:hover {
    background: #a9adb0;
}

#people::-webkit-scrollbar-track, #main-chat::-webkit-scrollbar-track {
    background: transparent;
}

#people::-webkit-scrollbar-thumb, #main-chat::-webkit-scrollbar-thumb {
    background: transparent;
}

#people:hover::-webkit-scrollbar-track, #main-chat:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#people:hover::-webkit-scrollbar-thumb, #main-chat:hover::-webkit-scrollbar-thumb {
    background: #bcc0c4;
}