.special-scrollbar::-webkit-scrollbar {
    width: 9px;
}

.special-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.special-scrollbar::-webkit-scrollbar-thumb {
    background: #bcc0c4;
}

.special-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a9adb0;
}

.special-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.special-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
}

.special-scrollbar:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.special-scrollbar:hover::-webkit-scrollbar-thumb {
    background: #bcc0c4;
}
